/node_modules
/public/hot
/public/storage
/public/css
/public/img
/public/js
/storage/*.key
/vendor
/resources/views/index.blade.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
info
