@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
    src: local('Montserrat Regular'), 
        local('Montserrat-Regular'),
        local('MontserratRegular'),
        url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
  src: local('Montserrat Bold'), 
      local('Montserrat-Bold'),
      local('MontserratBold'),
      url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
      url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
      url('../fonts/montserrat/montserrat-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; 
}