.footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.navbar_main{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: #CCCCCC;
}
.navbar_footer{
    padding: 20px;
    display: block;
    justify-content: center;
}

.navbar_footer_text{
    margin-right: 30px;
    font-size: $fs;
    font-family: $ff;
}

.social{
    display: flex;
    margin-top: 50px;
}

.social__icon{
    margin-right: 30px;
}

img[alt="logofooter"]{
    margin: 30px;
}

.coper{
    display: flex;
}

.coper__text{
    margin-top: 70px;
    font-size: $fs;
    font-family: $ff; 
    color: #757575; 
}