$color: #666;

//*** Buttons and fonts colors ***//
$cyan: #49bcab;
$white: #ffffff;
$smoke: #f5f5f5;
$light-grey: #777;
$medium-gray: #373232;
$gray: #333333;
$dark-gray: #222;
$black: #000;

/** Alert color **/
$alert-color: #fff5c3;
$alert-border: #edd870;
$alert-text: #85741f;