//*** Buttons and fonts colors ***//
$color-cyan: #49bcab;
$color-white: #ffffff;
$color-smoke: #f5f5f5;
$color-light-grey: #757575;
$color-medium-gray: #373232;
$color-gray: #333333;
$color-dark-gray: #222;
$color-black: #000;

/** Alert color **/
$color-alert: #fff5c3;
$color-border-alert: #edd870;
$color-text-alert: #85741f;

/** font and size **/
$font-montserrat: 'MontserratRegular', sans-serif;
$font-arimo: 'arimo', sans-serif;
$font-size: 16px;
$font-arimo: 'arimo', sans-serif;
/** Margin & Padding **/

$margin: 20px;
$padding: 20px;

/** Buttons **/

@mixin buttonSetting($wh, $ht, $clrBack, $clrBackTransition){
    transition: background-color 0.3s linear;
    width: $wh;
    height: $ht;
    background-color: $clrBack;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    color: $color-white;
    &:hover{
        background-color: $clrBackTransition;
        //color: white;
    }
}



