//*** Buttons and fonts colors ***//
$color-cyan: #49bcab;
$color-white: #ffffff;
$color-smoke: #f5f5f5;
$color-light-grey: #777;
$color-medium-gray: #373232;
$color-gray: #333333;
$color-dark-gray: #222;
$color-black: #000;

/** Alert color **/
$color-alert: #fff5c3;
$color-border-alert: #edd870;
$color-text-alert: #85741f;

/** font and size **/
$font-montserrat: 'MontserratRegular', sans-serif;
$font-size: 16px;

/** Margin & Padding **/

$margin: 20px;


